* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
     justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: rgb(146, 133, 133);
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content:'' ;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content:'' ;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderline::before{
    content:'' ;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}


 @keyframes animate{
    0% 
{
    transform: rotateO(0deg);
}
   100%{
    transform: rotate(360deg);
   } 



}
 

.box form {
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .username{
    position: relative;
    width: 300p;
    margin-top: 35px;
}
.box form .username input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
   color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 035s;
    z-index: 10;
}
.box form .username span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
     pointer-events: none;
      color: #8f8f8f;
      font-size: 1em;
      letter-spacing: 0.15em;
      transition: 0.5s;
}
.box form .username input:valid ~ span,
.box form .username input:focus ~ span{
    color: #fff;
    font-size: 0.55em;
    transform: translateY(-34px);
}
.box form .username i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    font-size: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .username input:valid ~ i,
.box form .username input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;

}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75;
    color: #8f8f8f;
    text-decoration: none;

}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}
.box form input[type='submit']{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 120px;
    margin-top: -50px;

}
/* .box form  input[type='submit']:active */
/* .checkbox{
text-align: left;
color: white;

} */
